##Lab 2 Delta tables and time travel

# Exercise 1

a) Create a new notebook called Lab 2 delta tables and time travel with default language SQL.

b) Create a schema called deltademo in your catalog

c) Set the schema as your default schema with the USE command

d) Create the table below

In [0]:
CREATE TABLE students 
  (id INT, name STRING, value DOUBLE);

e) Study what you get with the DESCRIBE TABLE command for students table

f) Add extended to the DESCRIBE TABLE syntax to see what you get about your table. Notice the table is managed and provider is delta. Also notice where data is stored.

g) Before you run the statement below. Ask your self how many transactions will you get in the history for the table? Hit each INSERT, UPDATE, DELETE and MERGE statement gives a transaction.

h) Execute the SQL below

In [0]:
INSERT INTO students VALUES (1, "Yve", 1.0);
INSERT INTO students VALUES (2, "Omar", 2.5);
INSERT INTO students VALUES (3, "Elia", 3.3);

INSERT INTO students
VALUES 
  (4, "Ted", 4.7),
  (5, "Tiffany", 5.5),
  (6, "Vini", 6.3);
  
UPDATE students 
SET value = value + 1
WHERE name LIKE "T%";

DELETE FROM students 
WHERE value > 6;

-- temp view kun synligt i vores session og d√∏r bagefter
CREATE OR REPLACE TEMP VIEW updates(id, name, value, type) AS VALUES
  (2, "Omar", 15.2, "update"),
  (3, "", null, "delete"),
  (7, "Blue", 7.7, "insert"),
  (11, "Diya", 8.8, "update");
  
MERGE INTO students b
USING updates u
ON b.id=u.id
WHEN MATCHED AND u.type = "update"
  THEN UPDATE SET *
WHEN MATCHED AND u.type = "delete"
  THEN DELETE
WHEN NOT MATCHED AND u.type = "insert"
  THEN INSERT *;